.img{
    /* Group 7 */

position: absolute;
width: 1728px;
height: 127px;
left: 0px;
top: 0px;



}
.img{
    /* Group 8 */

position: absolute;
width: 1542px;
height: 1695px;
left: 101px;
top: 289px;


}




